{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
          Categorias de animales
          <a href="{% url 'produccion:catanimal-crear' %}" style="margin-left:20px;"><i class="fa fa-plus-square" aria-hidden="true" style="color:#050505; 
            padding: 2px;"></i></a>
        </div>
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 13px;">
                {% if object_list %}
              <thead>
                  <tr>
                      <th>Categoría</th>
                      <th>Detalle</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for categoria in object_list %}
                  <tr>
                      <td>{{categoria.cat}}</td>
                      <td>{{categoria.det}}</td>
                      <td>
                          <a href="{% url 'produccion:catanimal-edit' categoria.pk %}" style="margin-left:20px;"><i class="fa fa-edit" aria-hidden="true" style="color:#050505; 
                            padding: 2px;"></i></a>
                          <a href="{% url 'produccion:catanimal-delete' categoria.pk %}" style="margin-left:20px;"><i class="fa fa-trash-alt" aria-hidden="true" style="color:#050505; 
                            padding: 2px;"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
              {% else %}
            <h6>No se registraron categorías de animales al sistema</h6>
            {% endif %}
        </div>
      </div>
</div>
{% endblock %}