{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
          Gastos registrados
          <a href="{% url 'economico:gasto-crear' %}" style="margin-left:20px;"><i class="fa fa-plus-square" aria-hidden="true" style="color:#050505; 
            padding: 2px;"></i></a>
        </div>
        <div class="card-body">
            <table id="miTabla" class="display compact" style="font-size: 13px;">
                {% if gastos %}
              <thead>
                  <tr>
                      <th>Fecha</th>
                      <th>Proveedor</th>
                      <th>Comprobante</th>
                      <th>Concepto</th>
                      <th>Total</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for gasto in gastos %}
                  <tr>
                      <td>{{gasto.fecha}}</td>
                      <td>{{gasto.proveedor}}</td>
                      <td>{{gasto.comprobante}}</td>
                      <td>{{gasto.concepto}}</td>
                      <td>{{gasto.importe_total}}</td>
                      <td>
                          <a href="#" style="margin-left:20px;"><i class="fa fa-edit" aria-hidden="true" style="color:#050505; 
                            padding: 2px;"></i></a>
                          <a href="#" style="margin-left:20px;"><i class="fa fa-trash-alt" aria-hidden="true" style="color:#050505; 
                            padding: 2px;"></i></a>
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
              {% else %}
            <h6>No se registran gastos</h6>
            {% endif %}
        </div>
      </div>
</div>
{% endblock %}